    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'address.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'address.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'address.street' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'address.street' | translate}}" id="1" [(ngModel)]="item.street"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'address.number' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'address.number' | translate}}" id="2" [(ngModel)]="item.number"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'address.city' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'address.city' | translate}}" id="3" [(ngModel)]="item.city"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'address.postalCode' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'address.postalCode' | translate}}" id="4" [(ngModel)]="item.postalCode"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'address.country' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'address.country' | translate}}" id="5" [(ngModel)]="item.country"
                                                    />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
