        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'customer.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'customer.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'customer.firstName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.firstName' | translate}}" id="1" [(ngModel)]="item.firstName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'customer.lastName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.lastName' | translate}}" id="2" [(ngModel)]="item.lastName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'customer.phoneNumber' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.phoneNumber' | translate}}" id="3" [(ngModel)]="item.phoneNumber"
                                                             />
                                                    
                                                </div>


                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'customer.address' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="addresss" [(ngModel)]="item.address" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'customer.address' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">{{'customer.credentialsNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="item.credentialsNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="6">{{'customer.accountNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="6"  [(ngModel)]="item.accountNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'customer.username' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.username' | translate}}" id="7" [(ngModel)]="item.username"
                                                             />
                                                    
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">{{'customer.passwordChanged' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="item.passwordChanged"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="9">{{'customer.accountNonLocked' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="9"  [(ngModel)]="item.accountNonLocked"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="10">{{'customer.password' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.password' | translate}}" id="10" [(ngModel)]="item.password"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="11">{{'customer.email' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'customer.email' | translate}}" id="11" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="12">{{'customer.enabled' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="12"  [(ngModel)]="item.enabled"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
