    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'order.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'order.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'order.orderDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="1"  [showTime]="true" [showSeconds]="false" placeholder="{{'order.orderDate' | translate}}"  [(ngModel)]="item.orderDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'order.orderStatus' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="orderStatuss" [(ngModel)]="item.orderStatus" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="label" placeholder="{{'order.orderStatus' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'order.customer' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="customers" [(ngModel)]="item.customer" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="email" placeholder="{{'order.customer' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'order.orderItems' | translate}}">
                                        <div class="p-col">
                                            <div class="grid">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="1">Quantity</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="quantity" placeholder="Quantity"  [(ngModel)]="orderItemsElement.quantity"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-11 md:col-6">
                                                                <label>Product</label>
                                                                <p-dropdown  appendTo="body"  [options]="products" [(ngModel)]="orderItemsElement.product"
                                                                             id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="id"
                                                                             placeholder="Product"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addOrderItems()"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="card">
                                                <p-table [value]="item.orderItems" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Quantity</th>
                                                                        <th>Product</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.quantity}}</td>
                                                                    <td>{{p.product?.id}}</td>
                                                            <td>
                                                                <button (click)="deleteOrderItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editOrderItems(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                        </div>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
