    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'orderItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'orderItem.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'orderItem.quantity' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'orderItem.quantity' | translate}}" [(ngModel)]="item.quantity"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'orderItem.product' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="products" [(ngModel)]="item.product" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'orderItem.product' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'orderItem.order' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="orders" [(ngModel)]="item.order" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'orderItem.order' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
